<div id="content">
  <div class="row">
    <div class="cell">
      <%= image_tag("small/1.JPG")%>
    </div>
    <div class="cell">
      <%= image_tag("small/2.JPG")%>
    </div>
    <div class="cell">
      <%= image_tag("small/3.JPG")%>
    </div>
    <div class="cell">
      <%= image_tag("small/4.jpg")%>
    </div>
    <div class="cell">
      <%= image_tag("small/5.JPG")%>
    </div>
    <div class="cell">
      <%= image_tag("small/6.JPG")%>
    </div>
    <div class="cell">
      <%= image_tag("small/7.jpg")%>
    </div>
    <div class="cell">
      <%= image_tag("small/8.JPG")%>
    </div>
    <div class="cell">
      <%= image_tag("small/9.JPG")%>
    </div>
    <div class="cell">
      <%= image_tag("small/10.jpg")%>
    </div>
  </div>
  
</div>