<nav>
  <ul>
    <% if @all %>
      <li id="all_photos_active"><%= link_to("All", all_path)%></li>
      <li id="graffiti_photos_unactive"><%= link_to("Graffiti", graffiti_path)%></li>
      <li id="dark_photos_unactive"><%= link_to("Dark", dark_path)%></li>
    <% elsif @graffiti %>
      <li id="graffiti_photos_active"><%= link_to("Graffiti", graffiti_path)%></li>
      <li id="all_photos_unactive"><%= link_to("All", all_path)%></li>
      <li id="dark_photos_unactive"><%= link_to("Dark", dark_path)%></li>
    <% elsif @dark %>
      <li id="dark_photos_active"><%= link_to("Dark", dark_path)%></li>
      <li id="all_photos_unactive"><%= link_to("All", all_path)%></li>
      <li id="graffiti_photos_unactive"><%= link_to("Graffiti", graffiti_path)%></li>
    <% end %>
  </ul>
</nav>

