<!DOCTYPE html>
<html>
<head>
  <title>iKissYourSores</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <!-- <h1 id="logo">ikissyoursores</h1> -->
    <% if @home %>
      <%= image_tag("ikissyoursores-logo.png")%>
    <% else %>
      <%= image_tag("ikissyoursores-logo.png", id: "no-home")%>
    <% end %>
  </header>
<section id="page">
  <section id="gallery">
    <% if !@home %>
      <%= render :partial => 'layouts/nav' %>
    <% end %>
    <%= yield %>
  </section>
</section>
</body>
</html>
