<!DOCTYPE html>
<html>
<head>
  <title>iKissYourSores</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body onLoad="setTimeout('hideDiv()', 1000);">
  <header>
    <% if @home %>
      <%= image_tag("ikissyoursores-logo.png")%>
    <% else %>
      <a href="/"><%= image_tag("ikissyoursores-logo.png", id: "no-home")%></a>
    <% end %>
  </header>
  <% if @home %>
    <div id="loading"><center><%= image_tag("loading.gif")%></center></div>
  <% end %>
  <section id="page">
    <% if !@home %>
    <section id="gallery">
      <%= render :partial => 'layouts/nav' %>
      <%= yield %>
    </section>
    <% else %>
      <%= yield %>
    <% end %>
  </section>
</body>
</html>
