<!DOCTYPE html>
<html>
<head>
  <title>iKissYourSores - portfolio</title>
  <meta name="keywords" content="i kiss your sores, ikissyoursores, fotomodelka, modelka, polska, portfolio, galeria, zdjęcia, modelka jg, jelenia góra" />
  <meta name="description" content="Teen beginning photomodel from Poland with good ideas for pictures and predispositions. Get in and see." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body onLoad="setTimeout('hideDiv()', 1000);">
  <header>
    <% if @home %>
      <%= image_tag("ikissyoursores-logo.png")%>
    <% else %>
    <!-- <div id="socials">
      <a href="http://lookbook.nu/bluemeanie"><%= image_tag('lookbooklogo-long.png', id: 'lookbook')%></a>
      <a href="http://followgram.me/ikissyoursores"><%= image_tag('followgramlogo-black.png', id: 'followgram')%></a>
    </div> -->
      <a href="/"><%= image_tag("ikissyoursores-logo.png", id: "no-home")%></a>
      <span id="back">back to home page</span>
    <% end %>
  </header>
  <% if @home %>
    <div id="loading"><center><%= image_tag("loading_alpha.gif")%></center></div>
  <% end %>
  <section id="page">
    <% if !@home %>
    <section id="gallery">
      <%= render :partial => 'layouts/nav' %>
      <%= yield %>
    </section>
    <% else %>
      <%= yield %>
    <% end %>
  </section>
  <footer>
        © PG 2012 by Patryk Grunt | <a href="http://patryk-grunt.herokuapp.com">patryk-grunt.herokuapp.com</a>
  </footer>
</body>
</html>
